*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}


.flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.flexColumn{
    flex-direction: column;
}



nav{
    position: absolute;
    top: 0;
    width: 100%;
    height: 50px;
}
.Link{
    color: #ffffff33;
    text-decoration: none;
    font-weight: bold;
    font-size: 2rem;
    margin-inline: 20px;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    transition: 0.3s;
}
.Link:hover{
    color: #ffffff99;
}
.activeLink{
    color: #1ac00f !important;
    filter: drop-shadow(0 0 5px #1ac00f99)
            drop-shadow(0 0 10px #1ac00f55);
}
.back{
    min-height: 100vh;
    background-color: #232323;
    padding: 70px 10%;

}
.button{
    background-color: transparent;
    border: 0;
    outline: none;
    color: #ffffff99;
    font-size: 2rem;

    padding: 10px 20px;
    margin-bottom: 15px;
    border-radius: 10px;
    transition: 0.3s;

    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5),
                inset 5px 5px 5px rgba(255, 255, 255, 0.2),
                -3px -3px 10px rgba(255, 255, 255, 0.1),
                inset -3px -3px 5px rgba(0, 0, 0, 0.4);
}
.button:hover, .button:active , .button.progress{
    color: #1ac00f99;
    cursor: pointer;
}
.button.progress, .button:disabled {
    cursor: default !important;
}
.button.disable{
    color: red;
    cursor: default !important;
}
.buttonText{
    color: #ffffff33;
    text-align: center;

    margin-bottom: 30px;
}
.block{
    width: 50px;
    height: 50px;

    margin: 10px;
    font-size: 1.8rem;
    color: #ffffff99;

    border-radius: 50%;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5),
                inset 2px 2px 5px rgba(255, 255, 255, 0.3),
                -1px -1px 5px rgba(255, 255, 255, 0.2),
                inset -2px -2px 5px rgba(0, 0, 0, 0.5);
}
.greenLight {
    width: 8px;
    height: 8px;
    margin-inline: auto;

    background-color: #999;
    border-radius: 50%;
}
.greenLight.active, #coursor{
    background-color: #1ac00f;
    box-shadow: 0 0 5px 4px #1ac00f99,
                0 0 10px 8px #1ac00f55;
}
.line{
    width: 200px;
    height: 2px;
    border-radius: 1px;
    transition: 0.3s;

    background-color: #1ac00f;
    box-shadow: 0 0 5px 1px #1ac00f99,
                0 0 10px 3px #1ac00f55;
    margin: 30px 0;
}
.line.stop{
    background-color: #ff0000;
    box-shadow: 0 0 5px 1px #ff000099,
                0 0 10px 3px #ff000055;
}
.sumBox{
    width: 200px;
    height: 60px;

    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5),
                inset 5px 5px 5px rgba(255, 255, 255, 0.2),
                -3px -3px 10px rgba(255, 255, 255, 0.1),
                inset -3px -3px 5px rgba(0, 0, 0, 0.4);
    color: #ffffff99;
    font-size: 2rem;
}

.form div:nth-child(1) , .typing{
    width: 400px;
    min-height: 200px;
    color: #ffffff55;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    gap: 10px;
}
.typing{
    border: #1ac00f 2px solid;
    border-radius: 20px;
    margin-top: 20px;
    padding: 20px;
    text-transform: none;

    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5),
    inset 5px 5px 5px rgba(255, 255, 255, 0.2),
    -3px -3px 10px rgba(255, 255, 255, 0.1),
    inset -3px -3px 5px rgba(0, 0, 0, 0.4);
    min-height: 300px;
}
.form input, .form input:active, .form input:hover{
    width: 100%;
    min-width: 200px;
    padding: 10px 20px;
    font-size: 1.5rem;

    background-color: transparent;
    border: 2px #00000011 solid;
    border-radius: 15px;
    outline: none;

    color: #ffffffaa;

    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5),
    inset 5px 5px 5px rgba(255, 255, 255, 0.2),
    -3px -3px 10px rgba(255, 255, 255, 0.1),
    inset -3px -3px 5px rgba(0, 0, 0, 0.4);
    
}
.form input:focus{
    border-bottom: 2px solid #1ac00f99;
}
.focused{
    color: #1ac00f99;
}
#coursor{
    display: none;
}



@media screen and (max-width : 520px) {
    .form div:nth-child(1) , .typing{
        width: 90%;
    }
}